{% load staticfiles %}
{% load zip %}
<!DOCTYPE html>

<html lang="en">
<head>
  <title>Udghos</title>
  <link rel='shortcut icon' href='/static/img/udghos.ico' type='image/x-icon'/ >  
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />


  <link href='https://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>

  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
  
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">

  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

  <link href="{% static 'css/mystatic.css' %}" rel="stylesheet">
  <link href="{% static 'css/mobile.css' %}" rel="stylesheet">

  
    <style>
        .alert-danger {
            background-color:none;
            color:red;
            font-size:0.9em;
        }
        .btn-black > a {
            color:white;
        }
        .btn-black > a:hover {
            text-decoration:none;
        }
    </style>
</head>

<body>
<div id="fb-root"></div>
<script>
(function() {
var e = document.createElement('script'); e.async = true;
e.src = document.location.protocol +
'//connect.facebook.net/en_US/all.js';
document.getElementById('fb-root').appendChild(e);
}());
window.fbAsyncInit = function() {
FB.init({appId: '1652950188302583', status: true, cookie: true,
xfbml: true});
};

</script>

<div class="container">
  <div id="float-notification">
    <div id="notification-text">
    
    </div>
  </div>
</div>

<div id="warning-box" style="position:absolute;top:0px;left:0px;display:none"></div>
  <div id="mask" style="position:absolute;display:none"></div>

  <nav id="navcolor" class="navbar navbar-inverse navbar-mathi">
      <div class="container">
        <div class="navbar-header">
          <a id="navhead" class="navbar-brand" href="/complain/login/">
            <img class="udghos-logo" src="/static/img/navbarlogo.png" width="30" height="30">
          </a>
        </div>
        
        {% if authenticated %}
          <ul id="headnav" class="nav navbar-nav navbar-right">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">
              <span class="navbar-name"> <i class="glyphicon glyphicon-triangle-bottom"></i></span>
              <img class="img-navbar" src="/media/{{profile_pic}}" width=30 height=30 /></a>
              <ul class="dropdown-menu dropdown-settings" role="menu">
                <li><a href="{% url 'profile' user.id %}">Profile</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
            <form class="navbar-form navbar-right form-group-navbar" role="search" onsubmit="return search()">
              <div class="form-group ">
                <div id="search-bar" class="inner-addon right-addon nav-search">
                  <i class="glyphicon glyphicon-search"></i>
                  <input type="text" id="searchquery" placeholder="Search" class="form-control form-control-navbar" />
                </div>
              </div>
            </form>
            <div class="dropdown">
                <ul class="gly-bell nav navbar-nav dropdown-toggle" id="dNotifications" role="button" data-toggle="dropdown">
                <li><i class="glyphicon glyphicon-bell"></i>
                {% if notifications %}
                <div class="notification-count">
                </div>
                {% endif %}
              </li></ul>
              <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dNotifications">
                <div class="notification-heading"><h5 class="notification-title">Notifications</h5>
                  <div class="mark-read">
                    <a class="notification-title pull-right" href="javascript:void()" onclick="mark_read()">Mark as Read</a>
                  </div>
                </div>
                <div class="notifications-wrapper">
                  {% if notifications %}
                  {% else %}
                  <a class="content" href="#">
                    <div class="single-notification">
                    &nbsp; No new notifications
                    </div>
                  </a>
                  {% endif %}
                  {% for notif in notifications %}
                  <a class="content" href="/thread/{{notif.thread}}/">
                    <div class="single-notification">
                      <div class="stimg-notification">
                            <img class="img-circle" src="/media/{{notif.by_image}}" width=50 height=50/>
                      </div>
                      <p class="notification-title">
                        {% ifequal notif.type "comment" %}
                        Comment on your thread by {{notif.by}}
                        {% endifequal %}
                        {% ifequal notif.type "support" %}
                          Support on your thread by {{notif.by}}
                        {% endifequal %}
                        {% ifequal notif.type "downvote" %}
                          Downvote on your thread by {{notif.by}}
                        {% endifequal %}
                        <div class="notification-info">
                        About
                      </div>
                      </p>
                    </div>
                  </a>
                  {% endfor %}
                </div>
              </ul>
            </div>
          </ul>
            {% else %}
            
            <ul class="nav navhead-nav nav-unauth">
              <li class="icon-login"><a href="/complain/login/">Login</a></li>
              <li class="icon-login"><a href="/about/">About</a></li>
            </ul> 
            {% endif %}        
      </div>
  </nav>


  <div id="content-top" >
    <div class="container-fluid">
      <div class="row">
        <div class="box-header">
          <div class="col-md-3 text-center header-column-first">
          </div>
          <div class="col-md-6 text-center header-column">
            <h1>Let's make a change</h1>
            <h3>Post your Complain/Views</h3>
            {% if authenticated %}
            <button type="button" class="btn btn-my btn-large btn-post-desktop" data-toggle="modal" data-target="#myModal" data-keyboard="true">
              Post a Concern
            </button>
            <a href="/complain/post-concern/">
              <button type="button" class="btn btn-my btn-large btn-post-mobile" >
                Post a Concern
              </button>
            </a>
            {% else %}
               <button type="button" class="btn btn-my btn-large btn-post-desktop" data-toggle="modal" data-target="#myModalLogin" data-keyboard="true">
                Post a Concern
              </button>
              <button type="button" class="btn btn-my btn-large btn-post-mobile" data-toggle="modal" data-target="#myModalLogin" data-keyboard="true">
                Post a Concern
              </button>
            {% endif %}
            <div class="how">
              <a href="/how-it-works/">How udghos works?</a>       
            </div>
          </div>


          <div class="container">
            <div class="row">
              <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header my-color">
                      <button type="button" class="close my-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title my-modal-title" id="myModalLabel">Post Your Concern</h4><br>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                      </div>
                      <form method="post" id="thread-form" action="{% url 'post' %}" onsubmit="return submitPost()" class="form-horizontal" role="form" enctype="multipart/form-data">
                          <label for="recipient-name" class="control-label">Title * <small id="title-warning" class="alert-danger" style="display:none">Write appropriate title to your concern</small></label>
                          <input name="title" type="text" class="form-control" id="recipient-name" placeholder="Title relevant to the description" oninput="$('#title-warning').hide()">

                        {% csrf_token %}
                        <input type="hidden" name="thread_type" value="complaint"/>
                        <div class="form-group" style="padding:14px;">
                          <label for="recipient-name" class="control-label">Description * <small id="description-warning" class="alert-danger" style="display:none">Please enter the description to you title</small></label>
                          <textarea name="content" class="form-control" placeholder="Describe your concern and the solution" oninput="$('#description-warning').hide()"></textarea>

                          <div class="form">
                            <label for="recipient-name" class="control-label">Who is to be addressed? <small id="targets-warning" class="alert-danger" style="display:none"></small></label><br>
                            <input type="text" class="form-control" placeholder="If empty Udghos will be addressed" id="targetbox"/>
                            <ul class="nav suggestions suggestion-target" id="targets-suggest-list" style="z-index:100;position:absolute;">
                            </ul>
                              <div class="li-style" id="targets-chosen">
                              </div>
                          </div>
                          
                          <div class="form">
                            <label for="recipient-name" class="control-label">Tags * <small id="tags-warning" class="alert-danger" style="display:none">Please provide at least 1 tag(max 4) </small></label><br>
                            <input type="text" class="form-control" placeholder="Type in tag names (max 4)" id="tagbox"/>
                            <ul class="nav suggestions" id="tags-suggest-list" style="z-index:100;position:absolute;">
                            </ul>
                              <div id="tags-chosen">
                              </div>
                          </div>

                          <div class="image-form">
                            <label for="recipient-name" class="control-label">Image(s)</label>
                            <input type="file" name="images" multiple accept="image/*" /><br>
                            <ul id="image-list" class="img" />
                            </ul>
                          </div>
                        </div>
                        <div class="make-anonymous">
                          <input type="checkbox" name="anonymous" value="yes"/><b>Make me Anonymous</b>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button class="btn btn-my" type="submit">Post</button>
                    </div>
                    </form>
                  </div>
                </div>
              </div>     
            </div>
           </div>
          </div>

          <div class="container">
            <div class="row">
              <!-- Modal Review-->
              <div class="modal fade" id="myModalReview" tabindex="-1" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header my-color">
                      <button type="button" class="close my-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title my-modal-title" id="myModalLabel">Write A Review</h4><br>
                    </div>
                    <div class="modal-body">
                  <form method="post" id="opinion-form" action="{% url 'review' %}" class="form-horizontal" role="form" enctype="multipart/form-data">
                      <div class="form-group">
                          <label for="recipient-name" class="control-label">Do you have anything to share to Udghos. Feel free to Share your Opinion.</label>
                          <input type="text" name="review-title" class="form-control" id="recipient-name" placeholder="Title relevant to your description">
                  </div>
                        {% csrf_token %}
                        <div class="form-group" style="padding:14px;">
                          <label for="recipient-name" class="control-label">Your Suggestions/Feedbacks/Opinions*</label>
                          <textarea name="review-content" class="form-control" placeholder="Describe your views on Udghos"></textarea>
                          <div class="form">
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button class="btn btn-my" type="submit">Submit</button>
                        </div>
                      </form>
                    </div>
                </div>
              </div>     
            </div>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <!-- Modal Review-->
      <div class="modal fade" id="myModalLogin" tabindex="-1" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header my-color">
              <button type="button" class="close my-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title my-modal-title" id="myModalLabel">Please Login to Post Concern</h4><br>
            </div>
            <div class="modal-body">
              You should login to Udghos to Post Concern. Do you want to login now?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <a href="/complain/login/">
                <button class="btn btn-my">Login</button>
              </a>
            </div>
          </div>
        </div>
      </div>     
    </div>
  </div>
          

  <div class="container">
    <div class="row">
      <div class="col-md-0">
        
      </div>
      <div class="col-md-8">
        <div id="tab-stories">
          <div class="box-tabs">
            <div id="error" class="text-center text-danger" style="float:left"> </div>
            <!--button type="button" class="btn btn-my btn-large btn-post-desktop" data-toggle="modal" data-target="#myModal" data-keyboard="true">
              Post a Concern
            </button-->
            <ul class="nav nav-tabs" id="navblock" >
              <li class="active"><a data-toggle="tab" href="javascript:void()" onclick="g_lastId=undefined;showRecent()">Recent</a></li>
              <li><a data-toggle="tab" href="javascript:void()" onclick="g_lastId=undefined;showTop()">Top</a></li>
              <li><a data-toggle="tab" href="javascript:void()" onclick="g_lastId=undefined;showFavs()">Favourites</a></li>
            </ul>

          </div>
          <div id="recent-threads">
          </div>
          <div id="top-threads">
          </div>
          <div id="favourite-threads">
          </div>
        </div>
        <div class="margin-tab">
        </div>
      </div>   

      <div id="profile" class="col-md-4">
        {% if authenticated %}
        <div class="box-profile box-profile-home">
          <img class="img-circle img-homepage" href="{% url 'profile' user.id %}" src="/media/{{profile_pic}}" width=70 height=70 alt="Generic placeholder image" width="100" height="100">
          <div class="media-body">
            <a href="{% url 'profile' user.id %}">
            <h3 class="heading-property user-heading">{{user.username}}</h3></a>
              <h5 class="heading-property">{{address}}</h5>
             
            </p>
            <input type="hidden" name="uid" value="{{user.id}}"/>
          </div>
        </div>
        <div class="box-tags">
            <div class="tag-heading event-heading">My Tags <div class="btn-black">
                <a href="javascript:void(0)" onclick="profile_add_tags()">Add</a></div></div><br>

        		  {% for tag in tags %}
        		    <div class="display-tag display-tag-home">
        		      <a href="/threads/tagged/{{tag.name}}">{{tag.name}}</a>
        		    </div><br>
        		  {% endfor %}
            </div>
        </div>
        {% else %}
        <div class="box-tags box-tags-home">
            <div class="tag-heading event-heading">Top Tags</div>
            <a class="top-tags" href="/threads/tagged/nepal">Nepal</a>
            <a class="top-tags" href="/threads/tagged/education">Education</a>
            <a class="top-tags" href="threads/tagged/government">Government</a>
        </div>         
        {% endif %}
      </div>   
    </div>      
  </div>

  <div class="container">
    <div class="btn-review">
      <button type="button" class="btn btn-review" data-toggle="modal" data-target="#myModalReview" data-keyboard="true">
        Write a review
      </button>
    </div>
  </div>

<div id="footer" class="box-footer">
    <div class="container" > 
      <footer>
        <div class="footer-body">
          <p class="pull-right">
            <a href="#">Back to top</a>
          </p>
          <p>
            <a href="/about/">About</a>&middot;
            <a href="#">Privacy</a> &middot; 
            <a href="#">Terms & Conditions</a>
          </p>
          <p class="pull-right">
            <a href="https://facebook.com/udghos">Facebook</a>&middot;
            <a href="https://twitter.com/udghosnepal">Twitter</a>
          </p>
          <p class="copyright">
            &copy; 2016 Udghos.com
          </p>
        </div>
      </footer>
    </div>
  </div>

  </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/homepage.js' %}"></script>
    <script src="{% static 'js/functions.js'%}"></script>
    <script src="{% static 'js/home.js'%}"></script>

  </html>
