{% extends "complain/base.html" %}
{% load zip %}
{% block content %}

    {% if user.username %}
        {% csrf_token %}
        Hi {{user.username }}<br>
        Post a <a href="{% url 'post' 'complaint' %}">complaint</a><br>
        Post a <a href="{% url 'post' 'discussion'%}">discussion</a><br>
        <h2>Recent threads </h2>
        {% if threads|length == 0 %}
            no threads to show<br><br>
        {% else %}
        <ul>
            {% for x, y in threads|zip:num_comments %}
                <li>votes[<span id="vote_{{x.id}}">{{x.votes}}</span>] 
                <span>{{y}} comments</span>
                    <a href="{% url 'thread' x.id %}"><b>{{ x.title }}</b></a> 
                    <a href="#" onclick="vote({{x.id}},'upvote')">upvote</a> ||||
                    <a href="#" onclick="vote({{x.id}}, 'downvote')">downvote</a>
                </li>
            {% endfor %}
        </ul>
        {% endif %}
        <a href="{% url 'logout' %}">Logout</a>
        <div id="test">
        </div>

    {% else %}
        You have not logged in.<br><br>
        Here is <a href="{% url 'login' %}">Login</a> page.
    {% endif %}

{% endblock %}

{% block scripts %}

<script>
    var g_csrf;
    var a = document.getElementsByTagName("input");
    for(x in a)
    {
        if(a[x].getAttribute("type")=="hidden")
        {
            g_csrf=a[x].value;
            break;
        }
    }

    function vote(id, vote_type)
    {
        var inc;
        $.post("/complain/vote/",
            {
                thread_id:id,
                csrfmiddlewaretoken:g_csrf,
                type:vote_type
            }, function(data, status) { 
                inc = parseInt(data);
                var votes = parseInt($("#vote_"+id).text());
                votes+=inc;
                $("#vote_"+id).text(votes.toString());

            }
        );
    }
</script>

{% endblock %}
