{% extends "complain/base.html" %}
{% load zip %}
{% block content %}

    {% if user.username %}
        {% csrf_token %}
        Hi {{user.username }}<br>
        Post a <a href="{% url 'post' 'complaint' %}">complaint</a><br>
        Post a <a href="{% url 'post' 'discussion'%}">discussion</a><br>
        <h2>Recent threads </h2>
        {% if threads|length == 0 %}
            no threads to show<br><br>
        {% else %}
        <ul>
            {% for x, y in threads|zip:num_comments %}
                <li>votes[<span id="vote_thread_{{x.id}}">{{x.votes}}</span>] 
                <span>{{y}} comments</span>
                    <a href="{% url 'thread' x.id %}"><b>{{ x.title }}</b></a> 
                    <a href="#" onclick="vote({{x.id}},'upvote', 'thread')">upvote</a> ||||
                    <a href="#" onclick="vote({{x.id}}, 'downvote', 'thread')">downvote</a>
                </li>
            {% endfor %}
        </ul>
        {% endif %}
        <a href="{% url 'logout' %}">Logout</a>
        <div id="test">
        </div>

    {% else %}
        You have not logged in.<br><br>
        Here is <a href="{% url 'login' %}">Login</a> page.
    {% endif %}

{% endblock %}

