{% load staticfiles %}
{% load zip %}
<!DOCTYPE html>
<html>
<head>
	<title>My Profile</title>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
  	<link href='https://fonts.googleapis.com/css?family=Fjord+One' rel='stylesheet' type='text/css'>
  	<link href='https://fonts.googleapis.com/css?family=Gentium+Basic|Raleway' rel='stylesheet' type='text/css'>
  	<link href="{% static 'css/styles.css' %}" rel="stylesheet">

  	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

  	<link href="{% static 'css/mystatic.css' %}" rel="stylesheet">
 	<link href="{% static 'css/profile.css' %}" rel="stylesheet">

</head>
<body>

<nav id="navcolor1" class="navbar navbar-inverse navbar-mathi">
  {% csrf_token %}
      <div class="container">
        <div class="navbar-header">
          <a id="navhead" class="navbar-brand" href="/">Udghos</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul id="headnav" class="nav navbar-nav navbar-right">
            <form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <div id="search-bar" class="inner-addon right-addon">
                  <i class="glyphicon glyphicon-search"></i>
                  <input type="text" placeholder="Search" class="form-control" />
                </div>
              </div>
              <a href="" class="dropdown-toggle" data-toggle="dropdown">
              <img class="img-navbar" src="{% static 'img/nepal.png' %}" width=30 height=30 /><span class="navbar-name"> <i class="glyphicon glyphicon-triangle-bottom"></i></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'profile' %}"><i class="glyphicon glyphicon-user">Profile</i></a></li>
                <li><a href="#"><i class="glyphicon glyphicon-wrench">Settings</i></a></li>
                <li><a href="{% url 'logout' %}"><i class="glyphicon glyphicon-erase">Logout</i></a></li>
              </ul>
            </form>
            </ul>
            <ul id="gly-bell" class="nav navbar-nav navbar-right">
              <li>
                <a href="#" title="Header" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="Content">
                <i class="glyphicon glyphicon-bell"></i>
                </a>
              </li>
            </ul>
            
          </ul>
        </div> <!--/.nav-collapse -->
      </div>
  </nav>

  <nav id="navcolor2" class="navbar navbar-inverse navbar-mathi">
  {% csrf_token %}
    <div class="container">
      <div class="row">
          <div class="col-md-3">
            <a id="navhead" class="navbar-brand" href="/">Udghos</a>
          </div>
            <div class="navmob-header">
              <a class="navbar-mobile-icon glyphicon glyphicon-bell" href="#"></a>
              <a class="navbar-mobile-icon glyphicon glyphicon-search" href="#"></a>
            
              <a href="" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="navbar-mobile-icon glyphicon glyphicon-triangle-bottom"></i></span></a>
                  <ul class="dropdown-menu dropdown-mobile" role="menu">
                    <li><a href="{% url 'profile' %}"><i class="glyphicon glyphicon-user">Profile</i></a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-wrench">Settings</i></a></li>
                    <li><a href="{% url 'logout' %}"><i class="glyphicon glyphicon-erase">Logout</i></a></li>
                  </ul>
            </div>
            
         </div> 
    </div>
  </nav>

  <div class="container">
    <div class="row">
			<div class="col-md-9">
				<div class="box-profile">
				  <img class="img-circle" href="/my-profile/" src="{% static 'img/nepal.png' %}" width=200 height=200 alt="Generic   placeholder image" width="200" height="200">
	         <div class="media-body">
	            <h3 id="heading-border" class="heading-property">Mr. Hanumane</h3>
	            <div class="my-profile">
	            	<h5 class="heading-property">Bharatpur, Chitwan</h5>
	            	<div class="profile-pro">
	            		<span class="label label-info">10 posts</span> 
	            		<a href="#" class="btn btn-xs btn-default">11 </span>Points</a>
	            	</div>
	            </div>
	            <div class="about-tab">
	              <h4 class="heading-property">About</h4>
	              <div class="about-me">
	            				I am from Nepal.
	            	</div>
	            </div> 
	            <div class="my-tags">
          		 <h4 class="heading-property">My Tags</h4>
          		 <div class="tags">
          				#Government  #Offices  #Colleges  #Blocades  #Road
          			</div>
        		  </div>
	          </div>
				</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="container">
      <div class="col-md-9 text-center">
        <div id="tab-stories">
          <div class="box-tabs">
            <ul class="nav nav-tabs" id="navblock" >
              <li class="active"><a data-toggle="tab" href="#recent">Top</a></li>
              <li><a data-toggle="tab" href="#top">Recent</a></li>
              <li><a data-toggle="tab" href="#top">Favourites</a></li> 
            </ul>
          </div>
        </div>
        {% if threads|length == 0 %}
            Nothing here. May be come back later.
        {% else %}

        {% for thread, y in threads|zip:num_comments %}
        <div class="box">
          <div class="stbody">
            <div id="recent" class="tab-pane fade in active">
              <div class="stimg">
                <img class="img-circle" src="{% static 'img/nepal.png' %}" width=50 height=50/>
                </div>
                
              <!--div class="post-actions">
                      <i class="glyphicon glyphicon-chevron-down"></i>
              </div--> 
              <div id="textst" class="sttext">
                <div class="post-body">
                  <a href="{% url 'profile' %}">
                  <span class="heading-property heading-post">{{thread.thread.account.user}}</span></a><span class="sttime"> &nbsp;{{thread.thread.time}}</span><br>
                </div>
                <div class="post-content">
                 {{thread.thread.content}}
                </div><br>
            {% for image in thread.images %} 
                <a href="#myModalImage"><img src="../media/{{image.name}}" height="50%" width="50%" data-toggle="modal" data-target="#myModalImage" data-keyboard="true"></img></a><br>
                <div class="modal fade" id="myModalImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog modal-custom" role="document">
                    <div class="modal-content">
                      <div class="modal-post">
                        <button type="button" class="close-image" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      </div>
                      <div class="row">
                        <div class="col-md-7">
                          <img class="post-image" src="../media/{{image.name}}"></img>
                        </div>
                        
                        </div>
                      </div>
                    </div>
                  </div>
            {% endfor %}

                <div class="sttime">
                </div>
                <div class="row">
                  <div class="display-tag">
                    <span id="tag-post2" class="glyphicon glyphicon-tags"></span>
                
                    <a class="tagname tagname2" href="#">Blockades</a>
                    <a class="tagname tagname2" href="#">Nepal</a>                
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="icons-ld">
                    <a id="action-element" href="javascript:vote({{thread.thread.id}}, 'upvote', 'thread')">
                      <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    </a>
                    <span class="net-vote" data-toggle="tooltip" data-placement="right" id="vote_thread_{{thread.thread.id}}">{{thread.thread.votes}}</span>
                    <a id="action-element" href="javascript:vote({{thread.thread.id}}, 'downvote', 'thread')">
                      <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                    </a>    
                  
              </div>
            <div class="post-action">
              <div class="comment-section">
                <a href="javascript:void()" onclick="toggleComments({{thread.thread.id}})">&nbsp;<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                  <span id="num-comments{{thread.thread.id}}">{{y}}</span><span id="comment-text{{thread.thread.id}}"> Comment{{y|pluralize}}</span>
                </a>
              </div>
              <div class="share">
                <button class="facebook shadow"></button>
                <button class="twitter shadow"></button>
              </div>
            </div>
          </div>
          <div id="display-form{{thread.thread.id}}" class="comment-form">
            <div id="thread-comments{{thread.thread.id}}"></div>
            <textarea id="comment-box{{thread.thread.id}}" class="form-comment" placeholder="Your comment here."></textarea>
            <button onclick="postComment({{thread.thread.id}}, '{{thread.thread.user}}')">Comment</button>
            
          </div>
        </div>
        {% endfor %}
      {% endif %}
      </div>
    </div>
  </div>

  




  



		        
		       

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/myjs.js' %}"></script>
    <script src="{% static 'js/homepage.js' %}"></script>
    <script src="{% static 'js/functions.js' %}"></script>

    <script src="{% static 'js/profile.js' %}"></script>

</body>
</html>