/* CSS used here will be applied after bootstrap.css */
html,
body {
  background-color: #fff;
  background-color:#fff;

  font-family: 'Varela Round', sans-serif;
  color: #000;
  background-size:cover;  
}
h1,h2,h3,h4{
  text-decoration: none;
  border: 0px solid #000;

}
.topic{
  text-align: center;
}

.btn-my {
  font-family: Ubuntu;
  background: linear-gradient(#cc4457, #990012);
  
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  
  color: #fff;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}
.btn-large{
  font-size: 25px;
}
.btn-my:hover,
.btn-my:focus,
.btn-my.focus {
  color: #fff;
  text-decoration: none;
}

.btn-my:hover {
  background: #aa1123;

  text-decoration: none;
  color: white;

}
.box{
  font-family: 'Varela Round', sans-serif;
  position: block;
  min-height: 20px;
  padding: 15px 15px 0px 15px;
  margin-left: 10px;
  margin-bottom: 15px;
  border:2px solid #ccc;
  border-bottomm: 2px solid #ccc;
  border-radius: 3px;
  
}
.box-profile{
  font-family: Ubuntu;
  position: block;
  min-height: 20px;
  padding: 10px 15px 15px 15px;
  margin: 2px;
  margin-top: 60px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border:2px solid #ccc;
  border-radius: 3px;
  baox-shadow: 1px 1px 3px #777;
}
.box-header{
  background: linear-gradient(#fff, #eee);
  font-family: 'Varela Round', sans-serif;
  position: block;
  padding: 10px;
  color: #000; 
  border-radius: 3px;
  margin-top: -10px;
}
.box-tabs{
  margin-top: 15px;
  margin-bottom:30px;
  margin-left: -2px;
  padding: 2px;
  min-height: 20px;   
}
.box-icons{
  margin-top: 5px;
  margin-bottom: 15px;
}
.box-top{
  font-family: 'Varela Round', sans-serif;
  font-size: .9em;
  background-color: #fff;
  margin:2px;
  border: 1px solid #ddd;
}
.box-top-logo{
  background-color: #fff;
  margin:2px;
  margin-bottom: 10px;
  padding: 10px;
}
.box-tag{
  background-color: #ccc;
  display: none;
  position: absolute;
}
.box-type-tag{
  background-color: #ccc;
  display: none;
  position: absolute;
  float: right;
}
.box-footer{
  background: #333;
  color: #fff;
}
.footer-body{
  margin: 10px 10px 0px 10px;
}
.form-control-footer{
  width: 50%;
}

p>a{
  font-size: 15px;
  margin: 5px;
  color: #fff;
}
p>a:hover{
  color: #fff;
}
.tag-list>li{
  text-align: left;
  margin-left: -25px;
  padding: 1px;
  border: 1px 0px 1px 0px;
  display: table-cell;
  display: block;
}
.taglist{
  position: relative;
  display: inline-block;
}
.formtags{
  background: #ddd;
  height: 25px;
  padding: 2px;
  position: absolute;
  margin-left: 200px;
  margin-top: -30px; 
}
#close-tag{
  margin-right: 2px;
  margin-top: -2px;
}


.tab-content{
  padding: 10px;
}
#content-top{
  margin-top: 55px;
  
}
.icons-ld{
  margin-left: 5px;
  margin-top: -20px;
  position: relative;
  display: inline-block;
  float: left;
}
.icons-ld>a{
  text-decoration: none;
}
.comment-section{
  color: #777;
  margin-top: -5px;
  margin-right: 75px;
  border-right: 1px solid #999;
  padding-right: 10px;
}
.comment-section>a{
  color: #777;
  font-size: 15px;
  text-decoration: none;
}
.comment-section>a:hover{
  color: #333;
}

.glyphicon-thumbs-up,
.glyphicon-thumbs-down{
  margin-top: 2px;
  font-size: 20px;
  color: #777;
}
.glyphicon-thumbs-up:hover,
.glyphicon-thumbs-down:hover{
  color: #333;
}

.glyphicon-search{
  color: #777;
}
.glyphicon-footer{
  margin-right: 50%;
    margin-top: 1px;
    font-size: 20px;
    color: #555;
}

.navbar-left{
  margin-top: 7px;
}
#navcolor {
  background-color: #333;
  border-bottom: 1px solid #fff;
}


#gly-bell{
    position: relative;
    font-size: 20px;
    padding-right: 0px;
}
.notification-count{
  border-radius: 70px;
  width: 10px;
  height: 10px;
  padding: 2px;
  position: absolute;
  font-size: 15px;
  margin-top: -25px;
  margin-left: 12px;
  color: #fff;
  background: linear-gradient(#dd4456, #bb2234);
}

#geoicon{
  padding: 0px;
  width: 15px;
  height: 17px;
}
#btn-post{
  float: right;
}
.btn-post-mobile{
  width: 50% ;
  height: 70px;
  margin-left: 25%;
  display: none;
}
.header-column>a{
  text-decoration: none;
}
.post-action{
  position: relative;
  float: right;
}
.post-actions{
  float: right;
}
.post-concern{
  width: 100%;
  font-size: 40px;
}
.title-concern{
  width: 100%;
  font-size: 50px;
}

#tag-position{
  position: relative;
}
#profile{
  -webkit-column-rule: 1px solid;
  -moz-column-rule: 1px solid;
    column-count: 3;
    column-rule: 1px solid;
}

#tab-stories{
  display: inline-block;
  padding: 0px;
  width:100%;  
  padding: 0px;
}
.post-body{
  font-size: 10px;
}
.post-body>a{
  text-decoration: none;
  color: #73ABFA;
}
.display-tag{
  display: block;
  float: right;
  margin-top: -35px;
  margin-right: 15px;
}
.comment-form{
  background-color: #eee;
}
.comment-form>textarea{
  width: 99%;
}
.comment-text{
  border-bottom: 1px solid #fff;
}
.btn-comment{
  background-color: #fff;
  border-color: #999;
  height: 30px;
  padding: 2px;
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
}
#tag-post1{
  float: right;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
#tag-post2{
  float: right;
  margin-top: 5px;
  margin-left: 5px;
}
#navblock {
  float: right;
  border-bottom: none; 

}
.tagname{
  float: right;
  display: inline-block;
  margin-left: 2.5px;
  margin-right: px;
  text-decoration: none; 
  padding: 0px 2px 0px 2px;
  background-color:#ddd ;
  color:#333;
  text-shadows:0px 5px 5px #777;
  border-radius: 2px;
  font-size: 17px;
}

.tagname2:hover{
  text-decoration: none;
}

#action-element{
  margin-left: 10px;
  margin-right: 10px;
}
#user-name {
  color:#282985;
  
}
.my-tags{
  margin-top: 10px;
  color: #555;
}
.media-body{
  border-bottom: 1px solid #999;
}
.modal{
    z-index: 10000;
    margin-top: 45px;
    margin-left: 20px;
    height: 90%;
    width: 90%;
}
.my-modal-title{
  float: right;  
}
.my-color{
  background: #ccc;
}
.my-close{
  float: left;
  color: #990012;
}
.close-icon{
  position: absolute;
}
.heading-property{
  border-bottom: none;
}
.heading-post{
  position: relative;
  font-size: 15px;
  font-weight: bold;
  margin-top: -55px;
  margin-left: -5px;
  margin-bottom: 10px;
  color: #555;
}
.heading-post:hover{
  color: #777;
}

.inner-addon { 
    position: relative; 
}
.inner-addon .glyphicon {
  position: absolute;
  padding: 5px;
  pointer-events: none;
}
/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}
/* add padding  */
.left-addon  input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }




ol
{
list-style:none;
margin:0px;
padding:0px;
}
.stbody {
  min-height:70px;
  margin-bottom:20px;
  border-bottom:solid 1px #ccc;
}
.stimg {
  float:left;
  height:50px;
  width:50px;
  margin-left: px;
}
.sttext
{
  min-height:50px;
  word-wrap:break-word;
  overflow:hidden;
  padding:5px;
  display:block;
  font-family: 'Varela Round', sans-serif;
  color:#555;
}
.sttext>a{
  text-decoration: none; 
}
.sttime{
  font-size: 12px;
  color: #777;
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
  margin-right: 10px;
}

#navhead{
  color: #fff;
  font-size: 25px;
  display: inline-block;
  position: relative;
}
.navbar-body{
  display: inline-block;
}
#headnav{
  position: relative;
}

.dropdown-menu{
  float: right;
  margin-top: -1px;
  margin-right: -40px;
  background-color: #eee;
}

.navbar-icon{
  display: block;
  float: right;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  height: 50px;
  line-height: 20px;
  color: #fff;
}
.navbar-mobile-icon{
  display: block;
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  height: 50px;
  line-height: 20px;
  color: #fff;
}


.navbar-icon:hover,
.navbar-icon:focus {
  text-decoration: none;
  color: #eee;
}
.navbar-icon > img {
  display: block;
}



.icons{
  display: none;
}
.top-heading {
  color: #fff;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #555;
}
.post-heading {
  margin-top: 0px;
  margin-bottom: -10px;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}
.post-content{
  margin-top: -10px;
  margin-left: 2px;
  color: #555;
  font-size: 17px;
}
.post-title{
  color: #333;
  font-weight: bold;
  margin-top: -3px;
  margin-left: 2px;
  font-size: 25px;
}
.post-title:hover{
  color: #990012;
}
.post-image{
  height: 170%;
  width: 170%;
  margin-left: 10px;
  margin-bottom: 0px;
}
.post-option{
  float: right;
}
.post-concern{
  margin-top: 100px;
}
.modal-custom{
  width: 45%;
}
.modal-post .close-image {
  margin-top: -2px;
  margin-left: 5px;
  color: reds;
  font-size: 25px;
}
.close-image{
  z-index: 100;
  position: absolute;
}

#logo{
  margin-left: 45px;
}


#post-icon-top{
  margin-top: 5px;
  display: none;
  float: left;
  position: relative;
}
.glyphicon-triangle-bottom{
  color: #fff;
}
.glyphicon-bell{
  color: #fff;
}
.glyphicon-bell:hover{
  color: #ccc;
}

.glyphicon-remove{
  display: none;
  float: right;
  position: relative;
  margin-top: ;
  margin-left: -5px;
}
.box:hover .glyphicon-remove{
  color: #777;
  display: block;
  margin-top: -5px;
  margin-right: -5px;
  margin-bottom: -30px;
}
.box:hover .display-tag{
  position: relative;
  margin-right: ;
}

#tag-bar{
  width: 35%;
}

.form-tag-control{
  display: block;
  width: 95%;
  height: 30px;
  padding: 6px 5px;
  margin-left: 15px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 2px;
}
#form-title{
  display: none;
}
.btn-image{
  margin-top: 0px;
  height: 30px;
  float: right;
  margin-right: 45%;
}
.btn-upvote{
  background-color: #fff;
  font-weight: bold;
  height: 25px;
  padding: 2px;
  border: 0px solid #555;
}
#show-btn{
  display: none;
}
.report-post{
  margin-bottom: 5px;
  color: #dd4456;
}
.report-post:hover{
  color: #bb2234;
}

#navblocks{
  border-bottom: 1px solid #990012;
  margin-right: -2px;
  width: 100%;
}
.nav-tabs>li>a{
  color: #000;
  margin-top: -5px;
  background-color: #fff;
}

.nav-tabs > li.active > a{
    color: #000;
    border-top: 3px solid #990012;
    background-color: #fff;
}
.nav-tabs > li.active >a:hover{
  color: #000;
  border-top: 2px solid #990012;
  background-color: #fff;
}
.nav-tabs > li.active>a:focus{
  color: #000;
  border-top: 3px solid #990012;
  background-color: #fff;
}

.nav-tabs>li>a:hover{
  border-top: 2px solid #990012;
  background-color: #fff;
}

.top-complain{
  float: left;
  font-size: 25px;
  margin-left: 10px;
  border-top: 2px solid #990012;
}
#share-top{
  margin-top: 17px;
  margin-bottom: 2px;
  float: righ;
}
div.share button {
    
    height: 20px;
    background: none;
    position: relative;
    border: none;
    width: 20px;
    margin-top: -20px;
    margin-right: 20px;
    background-repeat: no-repeat;
    border-radius: 2px;
    color: white;
    font-size: 14px;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    box-shadow: 0 2px 2px -2px gray;
    text-shadow: rgba(0, 0, 0, .5) -1px -1px 0;

}
div.share > .facebook {
  font-weight:bold;
  position: center;
  margin-right: 50px;
  float: right;
    background-image: url(http://i.imgur.com/v2bi4gW.png);
    background-size: 20px 20px;
    background-repeat:no-repeat;
    background-color: #3B5998;
}
div.share> .twitter {
  font-weight:bold;
  float: right;
  background-repeat:no-repeat;
    background-image: url(http://i.imgur.com/AR0S6e3.png);
    background-size: 20px 20px;
    background-color: #55ACEE;
}
.text-share{
  float: right;
}
.net-vote{
  margin-left: 1px;
  margin-right: 1px;
}

.comment-form{
  margin-top: 5px;
  padding: 0px 0px 0px 10px;
  display:none;
}

.comment {
    margin:3px;
    padding:2px;
    background:#eee;
}

.comment-user {
    font-weight:bold;
    float:left;
    margin-right:10px;
}
.comment-date {
    color:#999;
}
.comment-text {
    font-weight:lighter;
    color:#333;
}
.form-comment {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
}
.form-comment:focus {
  border-color: #626EF0;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.post-action{
  margin-top: -15px;
  margin-bottom: -10px;
}
.post-action>a{
  text-decoration: none;
}
.img-navbar{
  margin-left: 10px;
  margin-top: 10px;
  float: right;
  border-radius: 50%;
  background-color: #fff;
}
.navbar-name{
  margin-left: 5px;
  margin-top: 10px;
  text-decoration: none;
  float: right;
  color: #fff;
}
.glyphicon-triangle-bottom{
  font-size: 15px;
  color: #fff;
}

#tagbox {
    width:35%;
    float:left;
}
.selected-tags {
    background-color:#ddd;
    border-radius:2px;
    padding:2px;
    font-size:0.9em;
    margin:2px;
    margin-top:3px;
    vertical-align:middle;

}
#tags-suggest-list {	
	background-color:#aaa;
	width:34%;
	margin-top:30px;		
}

#tags-suggest-list > li {
	background-color:#ccc;
	margin-top:1px;
}

#tags-suggest-list > li:hover {
	background-color:#bbb;
}

.header-column{
  position: relative;
  color: #000;
  border-right: 3px solid #888;
}
.font-header{
  font-size: 50px;
}

/*not-authinticated navbar*/
.navhead-nav > li {
  display: inline-block;
  margin-top: 12px;
}
.navhead-nav > li + li {
  margin-left: 20px;
}
.navhead-nav > li > a {
  padding: 0px;
  font-size: 20px;


  color: #990012; /* IE8 proofing */
  
  border-bottom: 2px solid transparent;
}
.navhead-nav > li > a:hover,
.navhead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #fff;
}
.navhead-nav > .active > a,
.navhead-nav > .active > a:hover,
.navhead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

.nav-unauth>li>a{
  color: #fff;
}
.nav-unauth>li>a:hover{
  color: #fff;
}
.nav-unauth > li > a:hover {
  color: #fff;
  border-bottom-color: #fff;
}


.navhead-nav-left{
  float: left;
} 
.icon-login{
  position: absolute;
  margin: 0px 10px 0px 10px;
  float: right;
}

.warning-box {
    font-family: 'Varela Round', sans-serif;
    position: block;
    padding:10px;
    background-color:#fff;
    border-radius: 2px;
}

.warning-box > button {
    margin-right:20px;
}

.warning-text {
    border-top:solid 1px #888;
    font-family: Helvetica;
}
.text-bold {
    font-weight:bold;
}
}
