body{
  font-family: 'Varela Round', sans-serif ;
    padding:0;
    margin:0;
    width:100%;
    min-height:500px;
}

h1,h2,h3,h4,h5{
  margin-top: -5px;
}
.edit-button{
  margin-top: -60px;
}
.edit-button>button{
  float: right;
  margin-top: 2px;
  margin-left: -50px;
}
.edit-text>button{
  font-size: 15px;
  margin-left: 0px;
  margin-top: 20px;
  height: 50px;
}
#edit{
  margin-right: 35%;
}
#save{
  position: absolute;
  margin-left: -20px;
  margin-bottom: 20px;
  margin-right: 20%;
}
textarea{
  height: 35px;
  width: 35%;
  vertical-align: center;
  border-radius: 2px;  
}
textarea:focus{
  background-color: #ccc; 
}


.box-profile{
  font-family: 'Varela Round', sans-serif !important;
    min-height: 20px;
    padding: 20px;
    margin: 2px;
    margin-top: 67px;
    margin-bottom: 5px;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 3px;
}
#heading-border{
  border-bottom: 1px solid #ddd;
}
#content-top{
  margin-top: 60px;
  margin-left: 10px;
  margin-right: 10px;
}
.profile-pro{
  border-bottom: 1px solid #ddd;
}

.my-tags{
  margin-top: 15px;
  border: none;
}
.about-tab{
  margin-top: 15px;
}
.about-me{
  margin-top: -20px;
  margin-bottom: 10px;
}
.tags{
  margin-top: -20px;
}
.address-tab,
.about-tab,
.tags-tab{
  font-size: 30px;
  margin-top: 20px;
  display: block;
  position: relative;
}
.my-username{
  color: #777;
  margin-top: 50px;
  margin-bottom: 20px;
}
.my-address{
  margin-top: 5px;
}
.about-me{
  margin-top: 20px;
}
.glyphicon-map-marker{
  font-size: 20px;
  margin-bottom: 5px;
}
#save{
  float: right;
  position: relative;
  display: none;
  margin-left: 110px;
  margin-top: -10px;
}
#nameinfo{
  display: none;
}
.btn-update{
  float: right;
  margin-top: -25px;
  display: none;
}
.hidden-text{
  color: #333;
  display: none;
}
.hidden-text-font{
  margin-right: -10px;
  font-size: 20px;
  color: #990012;
  margin-bottom: -20px;
}

.add-tags{
  margin-top: 5px;
  margin-right: 5px;
}
.media-body{
  float: left;
}

/*///////PROFILE IMAGE////////*/
#profile-image-form{
  float: right;
  margin-right: -70px;
  margin-top: -200px;
}
.file{
  display: hidden;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: -255px;
  margin-right: 70px;
}
.file:hover .img-profile{
  opacity: 0.5;
}

div.fileinputs {
  position: relative;
  margin-top: -170px;
}
.fakefile {
  position: absolute;
  font-weight: bold;
  text-decoration: 2px solid #333;
  text-shadow: 2px solid #aaa;
  left: 70px;
  font-size: 25px;
  margin-left: -70px;
  margin-top: -202px;
  border-radius: 50%;
  background: #111;
  color: #fff;
  opacity: 0.5;
  width: 200px;
  height: 200px;
}
input.file{
  position: relative;
  text-align: right;
  -moz-opacity:0 ;
  filter:alpha(opacity: 0);
  opacity: 0;
  z-index: 1;
}
.fakefile>.change-picture{
  margin-left: 20px;
  margin-top: 70px;
  z-index: 2;
}
#first-name,
  #last-name{
    font-family: 'Varela Round', sans-serif !important;
    font-size: 25px;
  }


@media (max-width: 991px) {
  .box-profile{
    margin-left: 10px;
  }
  .edit-button{
    position: relative;
    margin-left: 10%;
    margin-top: -65px;
  }
  .edit-text>button{
    margin-left: -300px;
  }
  .edit-text>span{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  #save,
  #edit{
    font-size: 25px;
  }
  #first-name,
  #last-name{
    font-family: 'Varela Round', sans-serif !important;
    font-size: 50px;
  }
  #username{
    font-size: 30px;
  }
  #address{
    font-size: 35px;
  }
  #about{
    color: #777;
    font-size: 10px;
  }
  .hidden-text>span{
    font-size: 30px;
  }
  b{
    font-size: 25px;
    margin-top: 10px;
  }
  img.img-circle.img-profile{
    width: 200px;
    height: 200px;
  }
  .fakefile {
    margin-left: -70px;
    margin-top: -70px;
  }
  input.file{
    margin-top: -550px;
  }

}
