body{
  font-family: 'Varela Round', sans-serif ;
    padding:0;
    margin:0;
    width:100%;
    min-height:500px;
}

h1,h2,h3,h4,h5{
  margin-top: -5px;
}
.edit-text>button{
  font-size: 15px;
  padding: 2px;
  height: 35px;
}
textarea{
  height: 35px;
  width: 35%;
  vertical-align: center;
  border-radius: 2px;  
}
textarea:focus{
  background-color: #ccc; 
}


.box-profile{
    font-family: 'Varela Round', sans-serif !important;
    min-height: 300px;
    padding: 20px;
    margin: 2px;
    margin-top: 67px;
    margin-bottom: 5px;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 3px;
}
#heading-border{
  border-bottom: 1px solid #ddd;
}
#content-top{
  margin-top: 60px;
  margin-left: 10px;
  margin-right: 10px;
}
.profile-pro{
  border-bottom: 1px solid #ddd;
}

.my-name{
  margin-left: -10px;
}
.my-tags{
  margin-top: 15px;
  border: none;
}
.about-tab{
  margin-top: 15px;
}
.about-me{
  margin-top: -20px;
  margin-bottom: 10px;
}
.tags{
  margin-top: -20px;
}
.address-tab,
.about-tab,
.tags-tab{
  font-size: 20px;
  margin-top: 20px;
  display: block;
  position: relative;
}
.my-username{
  color: #777;
  margin-top: -10px;
  margin-bottom: 20px;
}
.my-address{
  margin-top: 5px;
}
.about-me{
  margin-top: 20px;
}
.glyphicon-map-marker{
  font-size: 20px;
  margin-bottom: 5px;
}
#save{
  display: none;
  margin-left: 170px;
  margin-top: -3px;
}
#nameinfo{
  display: none;
}
.btn-update{
  float: right;
  margin-top: -25px;
  display: none;
}
.hidden-text{
  color: #333;
  display: none;
}
.hidden-text-font{
  margin-left: -10px;
  font-size: 20px;
  color: #990012;
  margin-bottom: -20px;
}

.add-tags{
  margin-top: 5px;
  margin-right: 5px;
  margin-left: -15px;
}
.media-body{
  float: left;
}
.info-section{
  padding-left: 75px;
}
/*///////PROFILE IMAGE////////*/
#profile-image-form{
  float: right;
  margin-right: -70px;
  margin-top: -200px;
}
.file{
  display: hidden;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: -255px;
  margin-right: 70px;
}
.file:hover .img-profile{
  opacity: 0.5;
}

div.fileinputs {
  position: relative;
  margin-top: 5px;
}
.fakefile {
  position: absolute;
  font-weight: bold;
  text-decoration: 2px solid #333;
  text-shadow: 2px solid #aaa;
  left: 70px;
  font-size: 25px;
  margin-left: -340px;
  margin-top: 195px;
  border-radius: 50%;
  background: #111;
  color: #fff;
  opacity: 0.5;
  width: 200px;
  height: 200px;
}
input.file{
  margin-top: 195px;
  margin-left: -270px;
  position: absolute;
  text-align: right;
  -moz-opacity:0 ;
  filter:alpha(opacity: 0);
  opacity: 0;
  z-index: 1;
}
.fakefile>.change-picture{
  margin-left: 20px;
  margin-top: 70px;
  z-index: 2;
}
#first-name,
  #last-name{
    font-family: 'Varela Round', sans-serif !important;
    font-size: 25px;
  }
.suggestions{
  margin-top: 10px;
  margin-left: 70px;
}




@media (max-width: 991px) {
  body{
    width: 99%;
  }
  .box-profile{
    margin-top: 65px;
    margin-left: 15px;
  }
  #first-name,
  #last-name{
    font-family: 'Varela Round', sans-serif !important;
    font-size: 35px;
  }
  #username{
    font-size: 30px;
  }
  #address{
    font-size: 35px;
  }
  #about{
    color: #777;
    font-size: 20px;
  }
  .hidden-text>span{
    font-size: 30px;
  }
  b{
    font-size: 25px;
    margin-top: 10px;
  }
  img.img-circle.img-profile{
    width: 200px;
    height: 200px;
  }
  .show-image>img{
    float: center;
  }
  .image-section{
    padding: 10px 40% 10px 38%;
    float: left;
    height: 300px;
  }
  .edit-text>button{
    width: 150px;
    height: 70px;
    font-size: 30px;
  }
  #edit{
    margin-top: -350px;
    margin-bottom: 25px;
  }
  #save{
    margin-top: -510px;
    margin-bottom: 25px;

  }
  .hidden-text-font{
    margin-top: -100px;
  }
  #tags-chosen>span{
    padding: 1px;
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  #first-name,
  #last-name{
    position: relative;
    margin-top: 10px;
    font-size: 20px;
  }
  #username,
  #address,
  #about{
    font-size: 15px;
  }
  .image-section{
    padding: 10px 30% 10px 30%;
    float: left;
    height: 300px;
  }
  #edit{
    margin-top: -330px;
    margin-bottom: 50px;

  }
  #save{
    margin-top: -480px;
    margin-bottom: 25px;
  }
}

/*............................................................................*/
/*..............................NEW MOBILE DESIGN ............................*/
/*............................................................................*/
@media(max-width: 500px){
  .edit-text>button{
    width: 70px;
    height: 35px;
    font-size: 15px;
  }  
  .image-section{
    padding: 10px 30% 10px 20%;
    float: left;
    height: 300px;
  }
  .info-section{
    margin-left: -50px;
  }
  .box-prifile{
    min-height: 550px;
  }
  ul#tags-suggest-list{
    margin-top: 64px;
    margin-left: -20px;
  }
  input.form-control{
    margin-left: -20px;
  }

}

@-moz-document url-prefix() {
    .fakefile {
        margin-top: -217px;
        font-size: 20px;
    }
}