/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  text-decoration: none;
}


/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  
}

.btn-my {
  background: #2BAB93;
  
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  text-shadow: 2px 2px 2px #666666;
  -webkit-box-shadow: 2px 2px 5px #666666;
  -moz-box-shadow: 2px 2px 5px #666666;
  box-shadow: 2px 2px 5px #666666;
  font-weight:bold;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  margin-bottom: 10px;
}

.btn-my:hover {
  background: #3BBCA4;

  text-decoration: none;
  color: white;

}





/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
  font-family: Ubuntu;
  color: #fff;
  text-align: center;

  background: url("../img/IMG HARInew.png") no-repeat ;
  font-family: 'Source Sans Pro', sans-serif;
}

@media (min-width: 768px) {
  body {
    background-image: none;
  }
}


/*.image-login{
    background-image: url("../img/IMG HARI.png");
    background-repeat: no-repeat;
    margin-left: -60px;
    margin-top: -170px;
    display: block;
    min-width: 100%;
    height: auto;
}*/


/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  vertical-align: right;
  
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 10px;
  color: #333;
}
.a-foot{
  color: #333; 
}






/*
 * Header
 */
.navhead-brand {
text-align:center;
}



.navhead-nav > li {
  display: inline-block;
  margin-top: 12px;
}
.navhead-nav > li + li {
  margin-left: 20px;
}
.navhead-nav > li > a {
  padding: 0px;
  font-size: 20px;


  color: #fff; /* IE8 proofing */
  
  border-bottom: 2px solid transparent;
}
.navhead-nav > li > a:hover,
.navhead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #fff;
}
.navhead-nav > .active > a,
.navhead-nav > .active > a:hover,
.navhead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .navhead-brand {
    float: left;
  }
  .navhead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  float:right;
}
 
/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}



/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .navhead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle ;
  }
  /* Handle the widths */
  .navhead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .navhead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

#text-login{
  color: #111;
  margin-top: 150px;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 15px;
  
}
.form-signin-heading{
  margin-top:5px;
}
.form-signup-heading
{
  margin-top: -10px;
  margin-bottom: 15px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.p-signin{
  margin-top: -10px;
  padding-top: 5px;
}
.signin-heading{
  margin-top:25%;
}
#signup{
  padding: 0px 15px 0px 15px;
}
.login-form{
  margin: 10px 0px 10px 0px;
}
.box-signin {
  overflow: hidden;
  padding-left:1%;
  padding-right:1%;
  margin-left:10%;
  margin-right:10%;
  margin-top: 30%;
  min-height: 20px;
  background-color: #444;
  border-radius: 2px;
}
.box-footer{
  background-color: #333;
  color: #fff;
}

#navcolor{
  background: linear-gradient(#777, #333);
  border-bottom: 1px solid #fff;
}
.navbar-default{
  border: none;
}
.navbar-header>a{
  font-weight: bold;
  text-decoration: none;
}


#navhead{
  font-size: 25px;
  font-weight: ;
  color: #fff;
}
#navhead:hover{
  color: #aa1123;
}

.navhead-nav-left{
  margin-top: 0px;
  float: left;
}

@media (max-width: 720px) {
  .box-signin {
    margin-top: 300px;
  }
}
@media(max-width: 720px){
  .navhead-nav{
    float: right;
  }
  .navhead-nav-left{
    float: left;
  }
}